/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* roboto-slab-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v34-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* roboto-condensed-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-condensed-v27-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  body {
    font-family: Roboto;
    font-weight: 400;
  }

  /* header start */

  header {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-right: 250px;
    margin-left: 250px;
  }

  .header__list {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
  }

  .header__title {
    color: #1C1C1C;
    font-family: Roboto Slab;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 81.481% */
  }

  .header__link {
    color: #222;
    font-size: 15px;
    font-style: normal;
    line-height: 22px; /* 146.667% */
  }

  .header__custom_link {
    color: #283932;
    font-size: 15px;
    font-style: normal;
    line-height: 22px; /* 146.667% */
  }

  /* header end */

  /* grow start */

  .grow__top {
    display: flex;
    justify-content: space-between;
    margin-right: 250px;
    margin-left: 250px;
    padding-top: 70px;
    padding-bottom: 101px;
  }

  .grow__top-bg {
    background: #4DBD90 url("/image/grow-bg.png") 50% / cover no-repeat;
  }

  .grow-top__title {
    color: #FFF;
    font-size: 38px;
    font-style: normal;
    line-height: 44px; /* 115.789% */
    padding-bottom: 21px;
  }

  .grow-top__descr {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    line-height: 26px; /* 130% */
    padding-bottom: 25px;
  }

  .grow-top__button {
    border-radius: 3px;
    background: #000;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.12);
    width: 110px;
    height: 48px;
    flex-shrink: 0;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 16px;
    font-style: normal;
    line-height: 22px; /* 137.5% */
    margin-right: 37px;
  }

  .grow-top__link {
    color: #000;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 16px;
    font-style: normal;
    line-height: 22px; /* 137.5% */
    text-decoration: none;
  }

  .grow-top__left {
    width: 480px;
  }

  .grow__bottom-bg {
    background: #3E5C50;
  }

  .grow__bottom {
    margin: 0 250px 0 250px;
  }

  .grow__bottom-image {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .grow__bottom-img {
    padding-bottom: 38px;
    padding-top: 1px;
  }

  .grow__bottom-desc {
    color: rgba(255, 255, 255, 0.31);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    line-height: 22px; /* 146.667% */
    padding-top: 28px;
  }

  /* grow end */

  /* across start */

  .across {
    margin: 0 250px 0 250px;
  }

  .across__top {
    text-align: center;
  }

  .across__big_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .across__block-one {
    margin-left: 20px;
  }

  .across__small_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 74px;
  }

  .across__title {
    color: #333;
    font-size: 29px;
    font-style: normal;
    line-height: 36px; /* 124.138% */
    padding-top: 69px;
    padding-bottom: 10px;
    text-align: center;
    
  }

  .across__descr {
    color: #333;
    text-align: center;
    font-size: 19px;
    font-style: normal;
    line-height: 22px; /* 115.789% */
    padding-bottom: 69px;
  }

  .across__small_block-img {
    padding-bottom: 11px;
  }

  .across__small_block-h {
    color: #333;
    font-size: 22px;
    font-style: normal;
    line-height: 30px; /* 136.364% */
    padding-bottom: 16px;
  }

  .across__small_block-p {
    color: #333;
    font-size: 16px;
    font-style: normal;
    line-height: 22px; /* 137.5% */
  }

  .across-padding {
    margin-bottom: 71px;
  }

  /* across end */

  /* plans start */

  .plans {
    margin: 0 250px 0 250px;
  }

  .plans_bg {
    background: #DDE7ED;
  }

  .plans__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .plans_title {
    text-align: center;
    padding-top: 15px;
  }

  .plans_card {
    border-radius: 3px;
    background: #FFF;
    padding: 16px;
    margin-bottom: 20px;
  }
  
  .grow-top__button-width{
    width: 186px;
    height: 42px;
    flex-shrink: 0;
  }

  .plans_card-prise {
    padding-top: 10px;
  }

  .plans_card-line {
    width: 93px;
    height: 1px;
    flex-shrink: 0;
    background: #DBDBDB;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .plans_card-descr-element{
    padding-top: 10px;
    padding-bottom: 10px;
  }
 
  .plans_card-title {
    color: #2B2B2B;
    font-size: 22px;
    font-style: normal;
    line-height: 30px; /* 136.364% */
  }

  .plans__contact {
    color: #333;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    line-height: 22px; /* 137.5% */
    text-align: center;
    padding-bottom: 70px;
  }
  /* plans end */

  /* people start */

  .people {
    margin: 0 250px 0 250px;
    padding-bottom: 70px;
  }

  .people__title {
    color: #333;
    text-align: center;
    font-size: 29px;
    font-style: normal;
    line-height: 36px; /* 124.138% */
    padding: 70px 0 45px 0;
  }

  .people__descr {
    color: #333;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 25px;
    font-style: normal;
    line-height: 31px; /* 124% */
    padding-bottom: 22px;
  }

  .people__image {
    display: block;
    margin: auto;
    padding-bottom: 10px;
  }
  
  .people__image_descr {
    color: #333;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    line-height: 22px; /* 146.667% */
  }

  /* people end */

  /* company start */

  .company__icons {
    margin: 0 250px 0 250px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .company__bg {
    background: #A1BFD4;
  }

  /* company end */

  /* footer start */

  .footer__bg {
    background: #2B2C2E;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 250px 0 250px;
    padding-top: 40px;
    padding-bottom: 42px;
  }

  .footer__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .footer__left-title {
    color: #E6EAED;
    font-family: Roboto Slab;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 81.481% */
    padding-bottom: 25px;
  }

  .footer__left-text {
    color: #939596;
    font-size: 15px;
    font-style: normal;
    line-height: 22px; /* 146.667% */
  }

  .footer__left-text-padding {
    padding-bottom: 12px;
  }

  .footer__right-title {
    color: #E4E8EB;
    font-family: Roboto Condensed;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 141.176% */
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  .footer__right-container {
    display: flex;
    flex-direction: column;
  }

  .footer__left-line-one {
    width: 193px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 2px 0px 0px 2px;
    background: #E8E8E8;
  }

  .footer__left-linee-two {
    width: 129px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 0px 2px 2px 0px;
    background: #5F6166;
  }

  .footer__left-lines {
    display: flex;
    padding-bottom: 25px;
  }

  .footer__left-icons {
    display: grid;
    grid-template-columns: repeat(4, 20px);
    gap: 10px;
  }

  .footer__next-bg {
    background: #1C1D1F;
  }

  .footer__next {
    margin: 0 250px 0 250px;
  }

  .footer__next-p {
    padding: 19px 0 19px 0;
  }
  /* footer end */